.clear-me{
	clear:both;
}

header{
	height: 50px;
	background-color: lightblue;
}
.logo{
	float: left;
	width: 100px;
	height: 50px;
	background-color: yellow;
}
.nav{
	float: right;
	width: 100px;
	height: 50px;
	background-color: yellow;
}
.banner{
	background-color: BurlyWood;
	height: 100px;
	margin-top: 30px;

}
.three{
	color: blue;
	text-align: center;
}
.content{
	height: 300px;
	margin-top: 30px;
}
.four{
	float: left;
	width:40%;
	background-color: DarkCyan;
	height: 300px;
	text-align: center;
}
.five{
	float: right;
	width: 50%;
	background-color: DarkOliveGreen;
	height: 300px;
	text-align: center;
}
.footer{
	height: 90px;
	margin-top: 10px;
	background-color: blue;
	
}
.six{
	float: left;
	width: 30%;
	background-color: gold;
	height:90px;
}

.eight{
	float: right;
	width: 30%
    background-color:yellow;
    height:90;
}